<html>

<head>
  <title>The Vue View</title>
  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src="./js/app.js" defer></script>
</head>

<body>
  <div id="app">
    <h1>THE VUE VIEW</h1>
    <div class="user">
      <div class="user-information">
        <div class="image-container">
          <img src="https://content.codecademy.com/courses/what-is-vue/profile.jpeg" alt="profile picture">
        </div>
        <h3>{{username}}</h3>
      </div>
      <!-- added a v-if to the bio section so that the section only displays if bio exists. -->
      <div class="user-bio" v-if="bio">
        <em>Bio: </em> {{bio}}
      </div>
    </div>
    <!-- added v-for to the tweets section so that all tweets will be displayed, not just the first three. -->
    <div class="tweets">
      <!-- v-bind takes a value from the Vue app’s data object and uses it as the value of the specified component prop -->
      <div class="tweet" v-for="tweet in tweets" v-bind:message="tweet" v-bind:author='username'>
        <h3>{{ username }}</h3>
        <p>{{ tweet }}</p>
      </div>
    </div>
    <div class="settings">
      <h2>Settings</h2>
      <label for="username">Username</label>
      <!-- v-model binds the value of the HTML field element it is on to the data value with the provided name. -->
      <input type="text" value="username" placeholder="Username" v-model="username" />
      <label for="bio">Bio</label>
      <textarea value="bio" placeholder="Bio" v-model="bio"></textarea>
      <label for="tweet">New Tweet</label>
      <div class="new-tweet">
        <!-- Using v-model, bind the “New Tweet” <input> field to newTweet -->
        <input type="text" value="tweet" placeholder="New Tweet" v-model="newTweet" />
        <!-- Add a v-on:click directive with a value of tweets.push(newTweet) to the “Add Tweet” -->
        <button v-on:click="tweets.push(newTweet)">Add Tweet</button>
      </div>
    </div>
  </div>
</body>

</html>